<div class="container">
  <!-- <h2>My Stays</h2>
  <div class="container table-responsive py-5">
    <table class="table table-bordered table-hover">
      <thead class="thead-dark">
        <tr>
          <th scope="col">Name</th>
          <th scope="col">Price</th>
          <th scope="col">Location</th>
          <th scope="col">Actions</th>
        </tr>
      </thead>
      <tbody>
        <tr *ngFor="let stay of stays">
          <th scope="row">{{ stay.name }}</th>
          <td>{{ stay.price | currency }}</td>
          <td>{{ stay.location.city }},{{ stay.location.country }}</td>
          <td class="text-center">
            <a
              routerLink="/stays/details/{{ stay.id }}"
              class="btn btn-outline-primary me-1"
              >Details</a
            >
            <a
              routerLink="/stays/edit/{{ stay.id }}"
              class="btn btn-outline-success me-1"
              >Edit</a
            >
            <button
              class="btn btn-outline-danger"
              [swal]="{
                title: 'Confirmation',
                text: 'Are you sure?',
                showCancelButton: true
              }"
              (confirm)="delete(stay.id)"
            >
              Delete
            </button>
          </td>
        </tr>
        <tr></tr>
      </tbody>
    </table>
  </div>
  <div class="text-end">
    <a routerLink="/stays/create" class="btn btn-dark px-5 py-3 text-uppercase"
      >Add new Stay!</a
    >
  </div> -->

  <div class="mt-5">
    <div class="container mt-5">
      <!-- Table -->
      <div class="col">
        <div class="card shadow">
          <div class="card-header border-0">
            <h3 class="mb-0">Accommodations list</h3>
          </div>
          <div class="table-responsive">
            <table class="table table-flush">
              <thead class="thead-light">
                <tr>
                  <th scope="col">Name</th>
                  <th scope="col">Price</th>
                  <th scope="col">Location</th>
                  <th scope="col">Actions</th>
                </tr>
              </thead>
              <tbody>
                <tr *ngFor="let stay of stays">
                  <th scope="row">
                    <div class="media align-items-center">
                      <p class="avatar rounded-circle mr-3">
                        <span class="mb-0 text-sm">{{ stay.name }}</span>
                      </p>
                    </div>
                  </th>
                  <td>
                    {{ stay.price }}
                  </td>
                  <td>
                    {{ stay.location.city }} ({{ stay.location.country }})
                  </td>
                  <td>
                    <span class="ms-1">
                      <button
                        class="btn btn-info m-1"
                        routerLink="/stays/details/{{ stay.id }}"
                      >
                        Details
                      </button>
                      <button
                        [swal]="{
                          title: 'Confirmation',
                          text: 'Are you sure?',
                          showCancelButton: true
                        }"
                        class="btn btn-danger me-1"
                        (confirm)="delete(stay.id)"
                      >
                        Delete
                      </button>
                      <button
                        class="btn btn-warning m-1"
                        routerLink="/stays/edit/{{ stay.id }}"
                      >
                        Edit
                      </button>
                    </span>
                  </td>
                </tr>
              </tbody>
            </table>
          </div>
          <div class="card-footer m-2">
            <mat-paginator
              *ngIf="pagination"
              [length]="pagination.totalItems"
              [pageSizeOptions]="[4, 8, 15, 25]"
              showFirstLastButtons
              [pageSize]="pageSize"
              (page)="updatePagination($event)"
              aria-label="Select page"
            >
            </mat-paginator>
          </div>
        </div>
        <div class="row">
          <div class="col-6 text-start mt-2">
            <button class="btn btn-primary" routerLink="/">Go back</button>
          </div>
          <div class="col-6 mt-2 text-end">
            <button class="btn btn-success ms-2" routerLink="/stays/create">
              Add new
            </button>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
