<div
  class="modal fade show"
  id="modal"
  tabindex="-1"
  aria-hidden="true"
  *ngIf="currentEvent"
  style="display: block"
>
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="exampleModalLabel">
          <strong>Event details</strong>
        </h5>
        <button
          type="button"
          class="btn-close"
          data-bs-dismiss="modal"
          aria-label="Close"
          (click)="closeModal()"
        ></button>
      </div>
      <div class="modal-body">
        <ul class="list-group">
          <li class="list-group-item">
            <strong>NAME: </strong> {{ currentEvent.name }}
          </li>
          <li class="list-group-item">
            <strong>DATE:</strong> {{ currentEvent.date | date }}
          </li>
          <li class="list-group-item">
            <strong>PRICE:</strong> {{ currentEvent.price }}
          </li>
          <li class="list-group-item">
            <strong>DURATION:</strong> {{ currentEvent.duration }}
          </li>
          <li class="list-group-item">
            <strong>COUNTRY:</strong> {{ currentEvent.locationVM.country }}
          </li>
          <li class="list-group-item">
            <strong>CITY:</strong> {{ currentEvent.locationVM.city }}
          </li>
          <li class="list-group-item">
            <strong>ADDRESS:</strong> {{ currentEvent.locationVM.address }}
          </li>
          <li class="list-group-item">
            <strong>DESCRIPTION:</strong>
            <p [innerHtml]="currentEvent.eventDescription"></p>
          </li>
          <li class="list-group-item"><strong>Images:</strong></li>

          <app-image-slider
            [images]="currentEvent.images"
            [isEvent]="true"
          ></app-image-slider>
        </ul>
      </div>
      <div class="modal-footer">
        <button
          type="button"
          class="btn btn-danger"
          data-bs-dismiss="modal"
          (click)="closeModal()"
        >
          Close
        </button>
        <button
          type="button"
          class="btn btn-info"
          data-bs-dismiss="modal"
          routerLink="/events/signUpCreation/{{ currentEvent.id }}"
          *ngIf="securityService.getFieldFromJWT('id') != currentEvent.user.id"
        >
          Event SignUp
        </button>
        <button
          type="button"
          class="btn btn-outline-success"
          data-bs-dismiss="modal"
          routerLink="/events/signUpList/{{
            securityService.getFieldFromJWT('id')
          }}/{{ currentEvent.id }}"
          *ngIf="securityService.getFieldFromJWT('id') == currentEvent.user.id"
        >
          List of all signUps for this event
        </button>
      </div>
    </div>
  </div>
</div>
