<div
  style="
    background-image: url('https://images.pexels.com/photos/2325446/pexels-photo-2325446.jpeg');
    background-size: cover;
  "
  class="cover"
>
  <div class="mb-4 rounded-pill" style="backdrop-filter: blur(5px)">
    <h1>Exploring The World In Comfort.</h1>
    <h3>
      You do not have the right to remain silent… let us know what it takes to
      challenge you
    </h3>
  </div>
  <form class="flex-form" (ngSubmit)="search()">
    <label for="from">
      <i class="fas fa-map-marker-alt"></i>
    </label>
    <input
      type="search"
      [(ngModel)]="location"
      name="location"
      placeholder="Where do you want to go?"
    />
    <input type="submit" value="Search" />
    <!-- <a routerLink="search" class="btn btn-outline-primary">Search</a> -->
  </form>
</div>
