<div class="container">
  <div class="row">
    <div class="col-6">
      <div *ngFor="let stay of stays" class="card-trip">
        <img
          routerLink="details/{{ stay.id }}"
          style="cursor: pointer"
          [src]="stay.images[0].imagePath"
        />
        <div class="card-trip-infos">
          <div>
            <h2>{{ stay.name }}</h2>
            <p>{{ stay.location.city }},{{ stay.location.city }}</p>
          </div>
          <h2 class="card-trip-pricing">{{ stay.price | currency }}</h2>
          <!-- <img
            [src]="stay.images[0].imagePath"
            class="card-trip-user avatar-bordered"
          /> -->
        </div>
      </div>
    </div>
    <div class="col-6 mt-4">
      <app-map-multiple-markers [stays]="stays"></app-map-multiple-markers>
    </div>
  </div>
</div>
