<div class="container">
<ul class="list-group" *ngIf="eventLoad">
    <li class="list-group-item">NAME: {{event.name}}</li>
    <li class="list-group-item">DATE: {{event.date}}</li>
    <li class="list-group-item">PRICE: {{event.price}}</li>
    <li class="list-group-item">DURATION: {{event.duration}}</li>
    <li class="list-group-item">COUNTRY: {{event.locationVM.country}}</li>
    <li class="list-group-item">CITY: {{event.locationVM.city}}</li>
    <li class="list-group-item">ADDRESS: {{event.locationVM.address}}</li>
    <li class="list-group-item">DESCRIPTION: {{event.eventDescription}}</li>
    <li class="list-group-item">Images:</li>
      <div class="col-images" *ngFor="let img of event.images">
        <img [src]="img.imagePath" alt="">
        <button class="btn btn-danger" (click)="deleteImage(img.id)">Delete this image</button>
      </div>
</ul>
<div class="row">
  <div class="col-xs-12">
<button class="btn btn-danger" style="margin-top: 20px; margin-left: 550px;" (click)="deleteEvent(event.id)">Delete event</button>
<button class="btn btn-warning" style="margin-top: 20px; margin-left: 20px;" routerLink="../../edit/{{id}}">Edit</button>
</div>
</div>
</div>