<div class="page-content page-container" id="page-content" *ngIf="eventSignUps">
  <div class="padding">
    <div class="row container d-flex">
      <div class="col-lg-12 grid-margin stretch-card">
        <div class="card">
          <div class="card-body">
            <h2 *ngIf="eventId == -1">List of all sign ups of your events</h2>
            <h2 *ngIf="eventId != -1">List of sign ups for selected event</h2>
            <div class="table-responsive">
              <table class="table">
                <thead>
                  <tr>
                    <th>Event name</th>
                    <th>Event date</th>
                    <th>Participant</th>
                    <th>Status</th>
                    <th>SignUpDate</th>
                  </tr>
                </thead>
                <tbody>
                  <tr *ngFor="let signUp of eventSignUps">
                    <td>{{ signUp?.event }}</td>
                    <td>{{ signUp?.eventDate | date }}</td>
                    <td>
                      <strong>{{ signUp?.participant }}</strong>
                    </td>
                    <td>{{ signUp?.status }}</td>
                    <td>{{ signUp?.signUpDate | date }}</td>
                    <td>
                      <button
                        class="btn btn-danger"
                        *ngIf="signUp.status == 'Active'"
                        (click)="cancelSignUp(signUp.id)"
                      >
                        Cancel SignUp
                      </button>
                    </td>
                    <td></td>
                  </tr>
                </tbody>
              </table>
            </div>
            <div class="d-flex justify-content-center">
              <mat-paginator
                *ngIf="pagination"
                [length]="pagination.totalItems"
                [pageSizeOptions]="[4, 8, 15, 25]"
                showFirstLastButtons
                [pageSize]="pageSize"
                (page)="onChange($event)"
                aria-label="Select page"
              ></mat-paginator>
            </div>
            <div class="row">
              <div class="col-6 text-end">
                <button class="btn btn-info" routerLink="/events">
                  All events
                </button>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
