<div class="container mt-4" *ngIf="user && userEvents">
  <div class="row">
    <div class="col-4">
      <div class="card">
        <div class="text-center">
          <img src="https://randomuser.me/api/portraits/men/22.jpg" alt="" />
        </div>
        <h2 class="text-center mt-2">
          {{ user.firstName }} {{ user.lastName }}
        </h2>
        <h5>Username: {{ user.userName }}</h5>
        <hr />
        <div class="row text-start">
          <div class="col-12" *ngIf="user.emailVerified">
            <i class="fas fa-mail-bulk"></i>
            {{ user.email }}
            <i style="color: green" class="far fa-check-circle"></i>
          </div>
          <div class="col-12" *ngIf="!user.emailVerified">
            <i class="fas fa-mail-bulk"></i>
            {{ user.email }}
            <i style="color: red" class="far fa-times-circle"></i>
          </div>
          <div class="col-12" *ngIf="user.phoneNumberVerified">
            <i class="fas fa-phone"></i>
            {{ user.phoneNumber }}
            <i style="color: green" class="far fa-check-circle"></i>
          </div>
          <div class="col-12" *ngIf="!user.phoneNumberVerified">
            <i class="fas fa-phone"></i>
            {{ user.phoneNumber }}
            <i style="color: red" class="far fa-times-circle"></i>
          </div>
          <br />
          <div class="col-12 text-center mt-2">
            <button class="me-2" type="button" (click)="editProfile()">
              <i class="fas fa-user-edit"></i> Edit
            </button>
            <button
              *ngIf="!_security.isVerified()"
              type="button"
              (click)="verifyProfile()"
            >
              <i class="fas fa-user-check"></i> Verify
            </button>
          </div>
        </div>
      </div>
    </div>
    <div class="col-8">
      <mat-tab-group mat-stretch-tabs>
        <!--Stays-->
        <mat-tab
          *ngIf="userStays || !_security.isVerified()"
          label="Listed Stays"
        >
          <div
            class="alert-info m-4"
            *ngIf="userStays.length == 0 || !_security.isVerified()"
          >
            No stays listed. In order to be able to list your stays you need to
            verify either your phone number or email.
          </div>
          <div *ngIf="userStays.length > 0 && _security.isVerified()">
            <div *ngFor="let stay of userStays" class="card-trip">
              <img
                routerLink="/stays/details/{{ stay.id }}"
                style="cursor: pointer"
                [src]="stay.images[0].imagePath"
              />
              <div class="card-trip-infos">
                <div>
                  <h2>{{ stay.name }}</h2>
                  <p>{{ stay.location.country }},{{ stay.location.city }}</p>
                </div>
                <h2 class="card-trip-pricing">{{ stay.price | currency }}</h2>
              </div>
            </div>
            <div class="text-center">
              <mat-paginator
                *ngIf="pagination"
                [length]="pagination.totalItems"
                [pageSizeOptions]="[4, 8, 15, 25]"
                showFirstLastButtons
                [pageSize]="pageSize"
                (page)="updatePagination($event)"
                aria-label="Select page"
              >
              </mat-paginator>
            </div>
          </div>
        </mat-tab>

        <!--//-->

        <!--Events-->

        <mat-tab label="Hosted Events">
          <div *ngIf="userEvents.length == 0">
            No events listed. In order to be able to list your stays you need to
            verify either your phone number or email.
          </div>
          <div *ngIf="userEvents.length == 0">
            <div *ngFor="let event of userEvents" class="card-trip">
              <img
                routerLink="/events/edit/{{ event.id }}"
                style="cursor: pointer"
                [src]="event.images[0].imagePath"
              />
              <div class="card-trip-infos">
                <div>
                  <h2>{{ event.name }}</h2>
                  <p>
                    {{ event.locationVM.country }},{{ event.locationVM.city }}
                  </p>
                </div>
                <h2 class="card-trip-pricing">{{ event.price | currency }}</h2>
              </div>
            </div>
          </div>
        </mat-tab>

        <!--//-->

        <!-- <mat-tab label="Edit profile">
          <div class="row mt-4" style="width: 95%; offset: 5px">
            <div class="col-5 mb-2">{{ user.email }}</div>
            <div class="col-6 mb-2">
              <span *ngIf="user.emailVerified">Verified!</span>
              <span *ngIf="!user.emailVerified"
                ><button type="button" (click)="resend()">
                  Resend verification code
                </button></span
              >
            </div>
            <div class="col-5 mb-2">{{ user.phoneNumber }}</div>
            <div class="col-6 mb-2">
              <span *ngIf="user.phoneNumberVerified">Verified!</span>
              <span *ngIf="!user.phoneNumberVerified"
                ><button type="button" (click)="sendPhoneVerification()">
                  Send verification code
                </button></span
              >
            </div>
            <div class="col mb-2">
              <div *ngIf="!user.phoneNumberVerified">
                <div *ngIf="phoneCodeSent">
                  <label class="form-label">Enter the code:</label>
                  <input
                    [(ngModel)]="code"
                    type="number"
                    class="form-control"
                  />
                  <button type="button" class="mt-2" (click)="submitCode()">
                    Submit code
                  </button>
                </div>
              </div>
            </div>
          </div>
        </mat-tab> -->
      </mat-tab-group>
    </div>
  </div>
</div>

<app-edit-profile
  *ngIf="showEditProfile == true"
  [user]="user"
  (closeModal)="showEditProfile = false"
  (result)="onEditProfile($event)"
></app-edit-profile>

<app-verify
  *ngIf="showVerify == true"
  (closeModal)="showVerify = false"
  [user]="user"
>
</app-verify>
