<div class="container">
<form>
    <div class="mb-3">
        <label class="form-label" for="inputEmail">Name</label>
        <input type="text" class="form-control" >
    </div>
    <div class="mb-3">
        <label class="form-label" for="inputPassword">Price</label>
        <input type="number" class="form-control">
    </div>
    <div class="mb-3">
        <label class="form-label" for="inputPassword">Date</label>
        <input type="date" class="form-control">
    </div>
    <div class="mb-3">
        <label class="form-label" for="inputPassword">Duration</label>
        <input type="text" class="form-control">
    </div>
    <div class="gridc">
        <label class="form-label" for="inputPassword" id="grid">Country</label>
        <input type="text" class="form-control" id="grid">
        <label class="form-label" for="inputPassword" id="grid">City</label>
        <input type="text" class="form-control" id="grid">
        <label class="form-label" for="inputPassword" id="grid">Address</label>
        <input type="text" class="form-control" id="grid">
    </div>
    <div class="mb-3">
        <label class="form-label" for="inputPassword">Description</label>
        <textarea class="form-control" rows="3"></textarea>
    </div>

    <button type="submit" class="btn btn-primary">Sign in</button>
</form>
</div>
