<p>Page to display details</p>
<ng-container *ngIf="stay">
  <div class="container">
    <div class="row">
      <div class="col">
        <p>{{ stay.name }}</p>
        <p>{{ stay.price | currency }}</p>
        <p>{{ stay.location.address }}</p>
        <p>{{ stay.location.country }}</p>
        <p>{{ stay.location.city }}</p>
        <hr />
      </div>
    </div>
    <div class="row text-center">
      <div class="col-auto mb-1" *ngFor="let img of stay.images">
        <img
          class="img-fluid mb-1"
          style="max-width: 600px; max-height: 300px"
          [src]="img.imagePath"
          alt=""
        />
        <br />
        <button class="btn btn-danger mb-1" (click)="delete(img.id)">
          Delete
        </button>
      </div>
    </div>
  </div>
</ng-container>

<a routerLink="/stays">Back</a>
