<div class="container mt-4" *ngIf="stay">
  <app-image-slider [images]="stay.images"></app-image-slider>
  <hr />
  <div class="row mt-2">
    <div class="col-7 m-2">
      <h1>{{ stay.name }} ({{ stay.price | currency }} / night)</h1>
      <h5>
        <i class="fas fa-bed"></i> Rooms: {{ stay.rooms }} &nbsp;
        <i class="fas fa-user-friends"></i> {{ stay.capacity }} persons
      </h5>
      <p>
        {{ stay.description }}
      </p>
    </div>
    <div class="col-2 offset-1">
      <div class="card text-center">
        <img src="{{ stay.user.picture }}" alt="" />
        <h4>{{ stay.user.userName }}</h4>
        <small>Travel Pal Super host</small>
        <button type="reset" routerLink='/messages/conversation/{{stay.user.id}}'>Connect</button>
      </div>
    </div>
    <hr />
    <div class="col-6 m-2">
      <h4>Details</h4>
      <div class="row align-items-center mt-4">
        <div class="mt-2 col-4" *ngIf="stay.accommodationDetails.parking">
          <i class="fas fa-parking"></i> Parking
        </div>
        <div
          class="mt-2 col-4"
          *ngIf="stay.accommodationDetails.airConditioning"
        >
          <i class="fas fa-fan"></i> Air Conditioning
        </div>
        <div class="mt-2 col-4" *ngIf="stay.accommodationDetails.petFriendly">
          <i class="fas fa-paw"></i> Pet Friendly
        </div>
        <!-- </div> -->
        <!-- <div class="row align-items-center mt-4"> -->
        <div class="mt-2 col-4" *ngIf="stay.accommodationDetails.wiFi">
          <i class="fas fa-wifi"></i> WiFi
        </div>
        <div class="mt-2 col-4" *ngIf="stay.accommodationDetails.safe">
          <i class="fas fa-archive"></i> Safe
        </div>
        <div class="mt-2 col-4" *ngIf="stay.accommodationDetails.bbq">
          <i class="fas fa-drumstick-bite"></i> BBQ
        </div>
        <!-- </div> -->
        <!-- <div class="row align-items-center mt-4"> -->
        <div class="mt-2 col-4" *ngIf="stay.accommodationDetails.mosquitoNet">
          <i class="fas fa-shield-alt"></i> Mosquito Net
        </div>
        <div class="mt-2 col-4" *ngIf="stay.accommodationDetails.shower">
          <i class="fas fa-shower"></i> Shower
        </div>
        <div class="mt-2 col-4" *ngIf="stay.accommodationDetails.dryer">
          <i class="fas fa-tshirt"></i> Dryer
        </div>
        <!-- </div> -->
        <!-- <div class="row align-items-center mt-4"> -->
        <div class="mt-2 col-4" *ngIf="stay.accommodationDetails.refrigerator">
          <i class="fas fa-icicles"></i> Refrigerator
        </div>
        <div class="mt-2 col-4" *ngIf="stay.accommodationDetails.minibar">
          <i class="fas fa-glass-cheers"></i> Minibar
        </div>
        <div class="mt-2 col-4" *ngIf="stay.accommodationDetails.flatScreenTV">
          <i class="fas fa-tv"></i> Flat Screen TV
        </div>
        <!-- </div> -->
        <!-- <div class="row align-items-center mt-4"> -->
        <div class="mt-2 col-4" *ngIf="stay.accommodationDetails.balcony">
          <i class="fas fa-door-open"></i> Balcony
        </div>
      </div>
    </div>
    <div class="col-5 m-2">
      <h2>Cancellation</h2>
      <p>
        {{ stay.accommodationDetails.cancellation }}
      </p>
      <h2>House Rules</h2>
      <p>
        {{ stay.accommodationDetails.houseRules }}
      </p>
    </div>
    <hr />
    <div class="col-8 m-2">
      <app-map
        [coordinates]="{
          lat: stay.location.latitude,
          lng: stay.location.longitude
        }"
        [readonly]="true"
        [mapIconURL]="
          'https://img.icons8.com/external-ddara-lineal-color-ddara/64/000000/external-rental-real-estate-ddara-lineal-color-ddara.png'
        "
      ></app-map>
    </div>
    <div
      *ngIf="stay.user.id !== _securityService.getFieldFromJWT('id')"
      class="col-3 m-2 offset-4"
    >
      <div class="reserve">
        <form (ngSubmit)="toReservation()">
          <div [formGroup]="reservation" class="reservation">
            <mat-form-field appearance="fill">
              <mat-label>Enter when you want to reserve</mat-label>
              <mat-date-range-input
                [dateFilter]="DateFilter"
                [min]="today"
                [rangePicker]="picker"
              >
                <input
                  matStartDate
                  placeholder="Start date"
                  formControlName="start"
                />
                <input
                  matEndDate
                  placeholder="End date"
                  formControlName="end"
                />
              </mat-date-range-input>
              <mat-datepicker-toggle
                matSuffix
                [for]="picker"
              ></mat-datepicker-toggle>
              <mat-date-range-picker #picker></mat-date-range-picker>
            </mat-form-field>
            <hr />
            <button type="submit">Proceed to reservation</button>
            <button
              routerLink="/stays/search"
              type="reset"
              id="back"
              class="mt-2"
            >
              Go Back
            </button>
          </div>
        </form>
      </div>
    </div>
  </div>
</div>
