<section class="wrapper">
    <div class="container">

        <div class="row">
            <div class="col-md-4" *ngFor="let e of events" routerLink="details/{{e.id}}" >
                <div class="card text-white card-has-bg click-col" 
                    style="background-image:url('https://images.unsplash.com/photo-1504196606672-aef5c9cefc92?ixlib=rb-1.2.1&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=2069&q=80');">
                    <img class="card-img d-none" src=""
                        alt="Goverment Lorem Ipsum Sit Amet Consectetur dipisi?">
                    <div class="card-img-overlay d-flex flex-column">
                        <div class="card-body">
                            <small class="card-meta mb-2" >Upcoming event</small>
                            <h4 class="card-title mt-0 "><a class="text-white" herf="#">{{e.name}}</a></h4>
                            <small><i class="far fa-clock"></i> {{e.date}}</small>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>


</section>