<div
  class="modal fade show"
  id="exampleModalLive"
  tabindex="-1"
  aria-labelledby="exampleModalLiveLabel"
  aria-modal="true"
  role="dialog"
  style="display: block"
>
  <div class="modal-dialog modal-lg">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="exampleModalLiveLabel">Change password</h5>
        <input
          class="btn-close"
          aria-label="Close"
          style="cursor: pointer"
          (click)="closeModal()"
        />
      </div>

      <app-display-errors
        *ngIf="errors.length > 0"
        [errors]="errors"
      ></app-display-errors>

      <div class="row m-4">
        <div class="col-5 mb-2">Old password:</div>
        <div class="col-6 mb-2">
          <input type="password" class="form-control" [(ngModel)]="oldPass" />
        </div>

        <div class="col-5 mb-2">New password:</div>
        <div class="col-6 mb-2">
          <input type="password" class="form-control" [(ngModel)]="newPass" />
        </div>

        <div class="col-5 mb-2">Confirm new password:</div>
        <div class="col-6 mb-2">
          <input
            type="password"
            class="form-control"
            [(ngModel)]="confirmPass"
          />
          <div class="modal-footer">
            <button
              type="button"
              class="btn btn-success"
              (click)="saveChanges()"
              [disabled]="newPass == '' || confirmPass == '' || oldPass == ''"
            >
              Submit
            </button>
            <button
              type="button"
              class="btn btn-danger"
              (click)="closeModal()"
            >
              Close
            </button>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
