<div class="container">
  <div class="row mt-5">
    <div style="overflow: scroll; max-height: 700px" class="col-7">
      <form (ngSubmit)="searchStays()">
        <div [formGroup]="searchForm" class="row">
          <div class="col-8">
            <p class="m-0"><i class="far fa-compass"></i>Location</p>
            <br />
            <input
              type="text"
              class="form-control"
              id="txtLok"
              placeholder="London"
              formControlName="location"
            />
          </div>
          <!-- <div class="col-3">
            <p class="m-0"><i class="far fa-calendar-alt"></i> From</p>
            <br />
            <input type="date" class="form-control" />
          </div>
          <div class="col-3">
            <p class="m-0"><i class="far fa-calendar-alt"></i> To</p>
            <br />
            <input type="date" class="form-control" />
          </div> -->
          <div class="col-4">
            <p class="m-0"><i class="far fa-money-bill-alt"></i> Price (€)</p>
            <br />
            <input
              type="number"
              formControlName="price"
              class="form-control"
              placeholder="999"
            />
          </div>
          <div class="col mt-2 me-0 text-end">
            <button type="submit" class="btn btn-outline-primary opacity-75">
              <i class="fas fa-search-location"></i> Search
            </button>
          </div>
        </div>
      </form>
      <hr />
      <div *ngFor="let stay of stays" class="card-trip">
        <img
          routerLink="/stays/details/{{ stay.id }}"
          style="cursor: pointer"
          [src]="stay.image"
        />
        <div class="card-trip-infos">
          <div>
            <h2>{{ stay.name }}</h2>
            <p>{{ stay.country }},{{ stay.city }} ({{ stay.address }})</p>
          </div>
          <h2 class="card-trip-pricing">{{ stay.price | currency }}</h2>
          <img [src]="stay.userImage" class="card-trip-user avatar-bordered" />
        </div>
      </div>
      <div class="text-center m-3">
        <mat-paginator
          *ngIf="pagination"
          [length]="pagination.totalItems"
          [pageSizeOptions]="[4, 8, 15, 25]"
          showFirstLastButtons
          [pageSize]="pageSize"
          (page)="updatePagination($event)"
          aria-label="Select page"
        >
        </mat-paginator>
      </div>
    </div>
    <div class="col-5">
      <app-map-multiple-markers [stays]="stays"></app-map-multiple-markers>
    </div>
  </div>
</div>
