<div class="container my-4">
  <div
    class="row p-4 pb-0 pe-lg-0 pt-lg-5 align-items-center rounded-3 border shadow-lg"
  >
    <div class="col-lg-7 p-3 p-lg-5 pt-lg-3">
      <div class="lc-block mb-3">
        <div editable="rich">
          <h2 class="fw-bold display-4">
            The best Pal for your travels&nbsp;
            <p></p>
            <p></p>
          </h2>
        </div>
      </div>

      <div class="lc-block mb-3">
        <div editable="rich">
          <p class="lead">
            Quickly find and reserve a place to stay on your next vacation.
            <br />
            Your Pal got you covered!
          </p>
        </div>
      </div>

      <div class="lc-block d-grid gap-2 d-md-flex justify-content-md-start">
        <a class="btn btn-primary px-4 me-md-2" routerLink="stays"
          >Check out stays</a
        >
        <a class="btn btn-outline-secondary px-4" routerLink="events"
          >Check out events</a
        >
      </div>
    </div>
    <div class="col-lg-4 offset-lg-1 p-0 overflow-hidden shadow-lg">
      <div class="lc-block">
        <img
          class="rounded-start"
          src="https://images.unsplash.com/photo-1493612276216-ee3925520721?crop=entropy&amp;cs=tinysrgb&amp;fit=max&amp;fm=jpg&amp;ixid=MnwzNzg0fDB8MXxzZWFyY2h8M3x8d2Vic2l0ZXxlbnwwfDF8fHwxNjIxNDQ4NTEw&amp;ixlib=rb-1.2.1&amp;q=80&amp;w=1080"
          alt="Photo by Diego PH"
          width="720"
        />
      </div>
    </div>
  </div>

  <section class="_wrk_drm_trvl_sec">
    <div class="container">
      <div class="_wrk_drm_trvl_top">
        <h1 class="_wrk_drm_trvl_tp_h1">We Provide Best</h1>
        <p class="_wrk_drm_trvl_tp_txt">
          High quality stays all around the world!
        </p>
      </div>
      <div class="row justify-content-center">
        <div class="col-12 col-md-6 col-lg-4 col-xl-4 _wrk_drm_trvl_main">
          <div class="_wrk_drm_trvl_crd">
            <div class="_wrk_drm_trvl_crd_inr">
              <div class="_wrk_drm_trvl_box">
                <img src="../../assets/search.png" alt="image" />
              </div>
              <h2 class="_wrk_drm_trvl_h2">Select Destination</h2>
              <p class="_wrk_drm_trvl_crd_txt">
                At first choose the place you wanted to go
              </p>
            </div>
          </div>
        </div>

        <div class="col-12 col-md-6 col-lg-4 col-xl-4 _wrk_drm_trvl_main">
          <div class="_wrk_drm_trvl_crd">
            <div class="_wrk_drm_trvl_crd_inr">
              <div class="_wrk_drm_trvl_box">
                <img src="../../assets/reserve.png" alt="image" />
              </div>
              <h2 class="_wrk_drm_trvl_h2">Reserve your stay</h2>
              <p class="_wrk_drm_trvl_crd_txt">
                reserve a stay form our exclusive offers
              </p>
            </div>
          </div>
        </div>

        <div class="col-12 col-md-6 col-lg-4 col-xl-4 _wrk_drm_trvl_main">
          <div class="_wrk_drm_trvl_crd">
            <div class="_wrk_drm_trvl_crd_inr">
              <div class="_wrk_drm_trvl_box">
                <img src="../../assets/get_going.png" alt="image" />
              </div>
              <h2 class="_wrk_drm_trvl_h2">Get going</h2>
              <p class="_wrk_drm_trvl_crd_txt">
                Pack your coffers and set of to your next journey
              </p>
            </div>
          </div>
        </div>
      </div>
    </div>
  </section>
  <!-- WORK STATION -->

  <!-- ABOUT US -->
  <!-- <section class="_abt_drm_trvl_sec">
    <div class="container">
      <div class="_abt_drm_trvl_top">
        <div class="_abt_drm_trvl_top_lft">
          <p class="_abt_drm_trvl_top_lft_p">
            ABOUT US
          </p>
          <h1 class="_abt_drm_trvl_top_lft_h1">
            Explore all corners of the world with us.
          </h1>
        </div>
        <div class="_abt_drm_trvl_top_r8">
          <p class="_abt_drm_trvl_top_r8_p">
            These exercises ran in parallel with a series of focus groups comprising of parents. These exercises ran in parallel with a series of focus groups comprising of parents.
          </p>
        </div>
      </div>
      <div class="_about_slider">
        <div class="glide__track" data-glide-el="track">
          <div class="_abt_drm_trvl_crd_all glide__slides">
            <div class="_abt_drm_trvl_crd _active glide__slide">
              <div class="_abt_drm_trvl_crd_top">
                <img src="assets/img/trvl_agncy17.svg" alt="image">
              </div>
              <div class="_abt_drm_trvl_crd_btm">
                <div class="_abt_drm_trvl_crd_btm_icon">
                  <svg xmlns="http://www.w3.org/2000/svg" width="28" height="23" fill="none" viewBox="0 0 28 23">
                    <path fill="#000" d="M16.813 19.828c1.146 1.835 2.838 2.752 5.074 2.752 1.547 0 2.837-.516 3.87-1.548 1.089-1.09 1.633-2.408 1.633-3.956 0-1.662-.544-2.981-1.634-3.956-1.032-1.032-2.322-1.548-3.87-1.548-1.203 0-2.264.373-3.181 1.118-.172-.516-.258-1.118-.258-1.806 0-1.662.63-3.296 1.892-4.902 1.318-1.605 2.866-2.78 4.644-3.526L24.209.908c-2.982 1.376-5.218 3.21-6.709 5.504-1.433 2.294-2.15 4.874-2.15 7.74 0 2.236.488 4.128 1.463 5.676zM2.192 19.828C3.34 21.663 5.03 22.58 7.266 22.58c1.548 0 2.838-.516 3.87-1.548 1.09-1.09 1.635-2.408 1.635-3.956 0-1.662-.545-2.981-1.635-3.956-1.031-1.032-2.322-1.548-3.87-1.548-1.204 0-2.264.373-3.182 1.118-.172-.516-.258-1.118-.258-1.806 0-1.662.631-3.296 1.892-4.902 1.32-1.605 2.867-2.78 4.645-3.526L9.588.908c-2.98 1.376-5.217 3.21-6.708 5.504C1.447 8.706.73 11.286.73 14.152c0 2.236.488 4.128 1.462 5.676z"/>
                  </svg>
                </div>
                <h2 class="_abt_drm_trvl_crd_h2">
                  Nanjing, China
                </h2>
                <p class="_abt_drm_trvl_crd_txt">
                  These exercises ran in parallel with a series of focus groups comprising of parents. These exercises ran in parallel with a series.
                </p>
              </div>
            </div>
  
            <div class="_abt_drm_trvl_crd  glide__slide">
              <div class="_abt_drm_trvl_crd_top">
                <img src="assets/img/trvl_agncy18.svg" alt="image">
              </div>
              <div class="_abt_drm_trvl_crd_btm">
                <div class="_abt_drm_trvl_crd_btm_icon">
                  <svg xmlns="http://www.w3.org/2000/svg" width="28" height="23" fill="none" viewBox="0 0 28 23">
                    <path fill="#000" d="M16.813 19.828c1.146 1.835 2.838 2.752 5.074 2.752 1.547 0 2.837-.516 3.87-1.548 1.089-1.09 1.633-2.408 1.633-3.956 0-1.662-.544-2.981-1.634-3.956-1.032-1.032-2.322-1.548-3.87-1.548-1.203 0-2.264.373-3.181 1.118-.172-.516-.258-1.118-.258-1.806 0-1.662.63-3.296 1.892-4.902 1.318-1.605 2.866-2.78 4.644-3.526L24.209.908c-2.982 1.376-5.218 3.21-6.709 5.504-1.433 2.294-2.15 4.874-2.15 7.74 0 2.236.488 4.128 1.463 5.676zM2.192 19.828C3.34 21.663 5.03 22.58 7.266 22.58c1.548 0 2.838-.516 3.87-1.548 1.09-1.09 1.635-2.408 1.635-3.956 0-1.662-.545-2.981-1.635-3.956-1.031-1.032-2.322-1.548-3.87-1.548-1.204 0-2.264.373-3.182 1.118-.172-.516-.258-1.118-.258-1.806 0-1.662.631-3.296 1.892-4.902 1.32-1.605 2.867-2.78 4.645-3.526L9.588.908c-2.98 1.376-5.217 3.21-6.708 5.504C1.447 8.706.73 11.286.73 14.152c0 2.236.488 4.128 1.462 5.676z"/>
                  </svg>
                </div>
                <h2 class="_abt_drm_trvl_crd_h2">
                  Tokyo, Japan
                </h2>
                <p class="_abt_drm_trvl_crd_txt">
                  These exercises ran in parallel with a series of focus groups comprising of parents. These exercises ran in parallel with a series.
                </p>
              </div>
            </div>
  
            <div class="_abt_drm_trvl_crd glide__slide">
              <div class="_abt_drm_trvl_crd_top">
                <img src="assets/img/trvl_agncy19.svg" alt="image">
              </div>
              <div class="_abt_drm_trvl_crd_btm">
                <div class="_abt_drm_trvl_crd_btm_icon">
                  <svg xmlns="http://www.w3.org/2000/svg" width="28" height="23" fill="none" viewBox="0 0 28 23">
                    <path fill="#000" d="M16.813 19.828c1.146 1.835 2.838 2.752 5.074 2.752 1.547 0 2.837-.516 3.87-1.548 1.089-1.09 1.633-2.408 1.633-3.956 0-1.662-.544-2.981-1.634-3.956-1.032-1.032-2.322-1.548-3.87-1.548-1.203 0-2.264.373-3.181 1.118-.172-.516-.258-1.118-.258-1.806 0-1.662.63-3.296 1.892-4.902 1.318-1.605 2.866-2.78 4.644-3.526L24.209.908c-2.982 1.376-5.218 3.21-6.709 5.504-1.433 2.294-2.15 4.874-2.15 7.74 0 2.236.488 4.128 1.463 5.676zM2.192 19.828C3.34 21.663 5.03 22.58 7.266 22.58c1.548 0 2.838-.516 3.87-1.548 1.09-1.09 1.635-2.408 1.635-3.956 0-1.662-.545-2.981-1.635-3.956-1.031-1.032-2.322-1.548-3.87-1.548-1.204 0-2.264.373-3.182 1.118-.172-.516-.258-1.118-.258-1.806 0-1.662.631-3.296 1.892-4.902 1.32-1.605 2.867-2.78 4.645-3.526L9.588.908c-2.98 1.376-5.217 3.21-6.708 5.504C1.447 8.706.73 11.286.73 14.152c0 2.236.488 4.128 1.462 5.676z"/>
                  </svg>
                </div>
                <h2 class="_abt_drm_trvl_crd_h2">
                  Nanjing, Singapore
                </h2>
                <p class="_abt_drm_trvl_crd_txt">
                  These exercises ran in parallel with a series of focus groups comprising of parents. These exercises ran in parallel with a series.
                </p>
              </div>
            </div>
            <div class="_abt_drm_trvl_crd _active glide__slide">
              <div class="_abt_drm_trvl_crd_top">
                <img src="assets/img/trvl_agncy17.svg" alt="image">
              </div>
              <div class="_abt_drm_trvl_crd_btm">
                <div class="_abt_drm_trvl_crd_btm_icon">
                  <svg xmlns="http://www.w3.org/2000/svg" width="28" height="23" fill="none" viewBox="0 0 28 23">
                    <path fill="#000" d="M16.813 19.828c1.146 1.835 2.838 2.752 5.074 2.752 1.547 0 2.837-.516 3.87-1.548 1.089-1.09 1.633-2.408 1.633-3.956 0-1.662-.544-2.981-1.634-3.956-1.032-1.032-2.322-1.548-3.87-1.548-1.203 0-2.264.373-3.181 1.118-.172-.516-.258-1.118-.258-1.806 0-1.662.63-3.296 1.892-4.902 1.318-1.605 2.866-2.78 4.644-3.526L24.209.908c-2.982 1.376-5.218 3.21-6.709 5.504-1.433 2.294-2.15 4.874-2.15 7.74 0 2.236.488 4.128 1.463 5.676zM2.192 19.828C3.34 21.663 5.03 22.58 7.266 22.58c1.548 0 2.838-.516 3.87-1.548 1.09-1.09 1.635-2.408 1.635-3.956 0-1.662-.545-2.981-1.635-3.956-1.031-1.032-2.322-1.548-3.87-1.548-1.204 0-2.264.373-3.182 1.118-.172-.516-.258-1.118-.258-1.806 0-1.662.631-3.296 1.892-4.902 1.32-1.605 2.867-2.78 4.645-3.526L9.588.908c-2.98 1.376-5.217 3.21-6.708 5.504C1.447 8.706.73 11.286.73 14.152c0 2.236.488 4.128 1.462 5.676z"/>
                  </svg>
                </div>
                <h2 class="_abt_drm_trvl_crd_h2">
                  Dhaka, Bangladesh
                </h2>
                <p class="_abt_drm_trvl_crd_txt">
                  These exercises ran in parallel with a series of focus groups comprising of parents. These exercises ran in parallel with a series.
                </p>
              </div>
            </div>
  
            <div class="_abt_drm_trvl_crd  glide__slide">
              <div class="_abt_drm_trvl_crd_top">
                <img src="assets/img/trvl_agncy18.svg" alt="image">
              </div>
              <div class="_abt_drm_trvl_crd_btm">
                <div class="_abt_drm_trvl_crd_btm_icon">
                  <svg xmlns="http://www.w3.org/2000/svg" width="28" height="23" fill="none" viewBox="0 0 28 23">
                    <path fill="#000" d="M16.813 19.828c1.146 1.835 2.838 2.752 5.074 2.752 1.547 0 2.837-.516 3.87-1.548 1.089-1.09 1.633-2.408 1.633-3.956 0-1.662-.544-2.981-1.634-3.956-1.032-1.032-2.322-1.548-3.87-1.548-1.203 0-2.264.373-3.181 1.118-.172-.516-.258-1.118-.258-1.806 0-1.662.63-3.296 1.892-4.902 1.318-1.605 2.866-2.78 4.644-3.526L24.209.908c-2.982 1.376-5.218 3.21-6.709 5.504-1.433 2.294-2.15 4.874-2.15 7.74 0 2.236.488 4.128 1.463 5.676zM2.192 19.828C3.34 21.663 5.03 22.58 7.266 22.58c1.548 0 2.838-.516 3.87-1.548 1.09-1.09 1.635-2.408 1.635-3.956 0-1.662-.545-2.981-1.635-3.956-1.031-1.032-2.322-1.548-3.87-1.548-1.204 0-2.264.373-3.182 1.118-.172-.516-.258-1.118-.258-1.806 0-1.662.631-3.296 1.892-4.902 1.32-1.605 2.867-2.78 4.645-3.526L9.588.908c-2.98 1.376-5.217 3.21-6.708 5.504C1.447 8.706.73 11.286.73 14.152c0 2.236.488 4.128 1.462 5.676z"/>
                  </svg>
                </div>
                <h2 class="_abt_drm_trvl_crd_h2">
                  Nanjing, China
                </h2>
                <p class="_abt_drm_trvl_crd_txt">
                  These exercises ran in parallel with a series of focus groups comprising of parents. These exercises ran in parallel with a series.
                </p>
              </div>
            </div>
  
            <div class="_abt_drm_trvl_crd glide__slide">
              <div class="_abt_drm_trvl_crd_top">
                <img src="assets/img/trvl_agncy19.svg" alt="image">
              </div>
              <div class="_abt_drm_trvl_crd_btm">
                <div class="_abt_drm_trvl_crd_btm_icon">
                  <svg xmlns="http://www.w3.org/2000/svg" width="28" height="23" fill="none" viewBox="0 0 28 23">
                    <path fill="#000" d="M16.813 19.828c1.146 1.835 2.838 2.752 5.074 2.752 1.547 0 2.837-.516 3.87-1.548 1.089-1.09 1.633-2.408 1.633-3.956 0-1.662-.544-2.981-1.634-3.956-1.032-1.032-2.322-1.548-3.87-1.548-1.203 0-2.264.373-3.181 1.118-.172-.516-.258-1.118-.258-1.806 0-1.662.63-3.296 1.892-4.902 1.318-1.605 2.866-2.78 4.644-3.526L24.209.908c-2.982 1.376-5.218 3.21-6.709 5.504-1.433 2.294-2.15 4.874-2.15 7.74 0 2.236.488 4.128 1.463 5.676zM2.192 19.828C3.34 21.663 5.03 22.58 7.266 22.58c1.548 0 2.838-.516 3.87-1.548 1.09-1.09 1.635-2.408 1.635-3.956 0-1.662-.545-2.981-1.635-3.956-1.031-1.032-2.322-1.548-3.87-1.548-1.204 0-2.264.373-3.182 1.118-.172-.516-.258-1.118-.258-1.806 0-1.662.631-3.296 1.892-4.902 1.32-1.605 2.867-2.78 4.645-3.526L9.588.908c-2.98 1.376-5.217 3.21-6.708 5.504C1.447 8.706.73 11.286.73 14.152c0 2.236.488 4.128 1.462 5.676z"/>
                  </svg>
                </div>
                <h2 class="_abt_drm_trvl_crd_h2">
                  Nanjing, China
                </h2>
                <p class="_abt_drm_trvl_crd_txt">
                  These exercises ran in parallel with a series of focus groups comprising of parents. These exercises ran in parallel with a series.
                </p>
              </div>
            </div>
          </div>
        </div>
        <div class="_abt_drm_trvl_crd_arow">
          <div class="glide__arrows" data-glide-el="controls">
            <button class="glide__arrow glide__arrow--left" data-glide-dir="<">
              <svg xmlns="http://www.w3.org/2000/svg" width="15" height="13" fill="none" viewBox="0 0 15 13">
                <path fill="#152137" fill-rule="evenodd" d="M5.243 11.803L.47 7.03a.75.75 0 010-1.06l4.773-4.773a.75.75 0 111.06 1.06L2.811 5.75H14a.75.75 0 010 1.5H2.81l3.493 3.493a.75.75 0 01-1.06 1.06z" clip-rule="evenodd"></path>
              </svg>
            </button>
            <button class="glide__arrow glide__arrow--right" data-glide-dir=">">
              <svg xmlns="http://www.w3.org/2000/svg" width="15" height="13" fill="none" viewBox="0 0 15 13">
                <path fill="#152137" fill-rule="evenodd" d="M9.757 11.803L14.53 7.03a.75.75 0 000-1.06L9.757 1.197a.75.75 0 10-1.06 1.06l3.492 3.493H1a.75.75 0 100 1.5h11.19l-3.493 3.493a.75.75 0 001.06 1.06z" clip-rule="evenodd"></path>
              </svg>
            </button>
            </div>
        </div>
      </div>
    </div>
  </section> -->
  <!-- ABOUT US -->

  <!-- FEATURE -->
  <section class="_ftre_drm_trvl_sec">
    <div class="container">
      <div class="_ftre_drm_trvl_top">
        <h1 class="_ftre_drm_trvl_tp_h1">Featured Tour Places</h1>
        <p class="_ftre_drm_trvl_tp_txt">
          There are many variations of passages of Lorem Ipsum available, but
          the majority have suffered alteration.
        </p>
      </div>
      <div class="row justify-content-center">
        <div class="col-12 col-md-6 col-lg-4 col-xl-3 _ftre_drm_trvl_main">
          <div class="_ftre_drm_trvl_crd">
            <div class="_ftre_drm_trvl_crd_inr">
              <div class="_ftre_drm_trvl_crd_top">
                <img
                  src="https://a0.muscache.com/im/pictures/prohost-api/Hosting-31152197/original/c8925cb2-60e8-45fd-a7ab-5efaf374d991.jpeg?im_w=1440"
                  alt="image"
                />
              </div>
              <div class="_ftre_drm_trvl_crd_btm">
                <h2 class="_ftre_drm_trvl_crd_h2">
                  The Silo House At Laughing Llama Farm
                </h2>
                <ul class="_ftre_drm_trvl_crd_ul text-end">
                  <li>$401.00</li>
                </ul>
              </div>
            </div>
          </div>
        </div>

        <div class="col-12 col-md-6 col-lg-4 col-xl-3 _ftre_drm_trvl_main">
          <div class="_ftre_drm_trvl_crd">
            <div class="_ftre_drm_trvl_crd_inr">
              <div class="_ftre_drm_trvl_crd_top">
                <img
                  src="https://a0.muscache.com/im/pictures/7e182664-02ca-4027-82b9-1e5869457d42.jpg?im_w=1200"
                  alt="image"
                />
              </div>
              <div class="_ftre_drm_trvl_crd_btm">
                <h2 class="_ftre_drm_trvl_crd_h2">
                  Floating vacation home made from wood
                </h2>
                <ul class="_ftre_drm_trvl_crd_ul text-end">
                  <li>$338.00</li>
                </ul>
              </div>
            </div>
          </div>
        </div>

        <div class="col-12 col-md-6 col-lg-4 col-xl-3 _ftre_drm_trvl_main">
          <div class="_ftre_drm_trvl_crd">
            <div class="_ftre_drm_trvl_crd_inr">
              <div class="_ftre_drm_trvl_crd_top">
                <img
                  src="https://a0.muscache.com/im/pictures/67fe03f8-f600-456a-bb6b-26d22202623e.jpg?im_w=1440"
                  alt="image"
                />
              </div>
              <div class="_ftre_drm_trvl_crd_btm">
                <h2 class="_ftre_drm_trvl_crd_h2">Lovely Bungalow Apartment</h2>
                <ul class="_ftre_drm_trvl_crd_ul text-end">
                  <li>$80.00</li>
                </ul>
              </div>
            </div>
          </div>
        </div>

        <div class="col-12 col-md-6 col-lg-4 col-xl-3 _ftre_drm_trvl_main">
          <div class="_ftre_drm_trvl_crd">
            <div class="_ftre_drm_trvl_crd_inr">
              <div class="_ftre_drm_trvl_crd_top">
                <img
                  src="https://cf.bstatic.com/xdata/images/hotel/max1024x768/266109475.jpg?k=b93985b024ad6c28ec7618de891c91c50fb1f527b2b4a60a098dfb6925c92761&o=&hp=1"
                  alt="image"
                />
              </div>
              <div class="_ftre_drm_trvl_crd_btm">
                <h2 class="_ftre_drm_trvl_crd_h2">Holiday Inn Express</h2>
                <ul class="_ftre_drm_trvl_crd_ul text-end">
                  <li>$236.00</li>
                </ul>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </section>
  <!-- FEATURE -->

  <!-- CITIES -->
  <!-- <section class="_cities_drm_trvl_sec">
    <div class="container glide">
      <div class="_cities_drm_trvl_top">
        <div class="_cities_drm_trvl_top_lft">
          <p class="_cities_drm_trvl_top_p">
            TOP CITYS 
          </p>
          <h2 class="_cities_drm_trvl_top_h2">
            Our popular cities
          </h2>
          <p class="_cities_drm_trvl_top_txt">
            We’re a team of humans with the strategy, tools, and solutions and digital products.
          </p>
        </div>
        <div class="_cities_drm_trvl_top_r8">
          <ul class="_cities_drm_trvl_top_ul glide__arrows" data-glide-el="controls">
            <li class="glide__arrow glide__arrow--left" data-glide-dir="<">
              <svg xmlns="http://www.w3.org/2000/svg" width="15" height="13" fill="none" viewBox="0 0 15 13">
                <path fill="#152137" fill-rule="evenodd" d="M5.243 11.803L.47 7.03a.75.75 0 010-1.06l4.773-4.773a.75.75 0 111.06 1.06L2.811 5.75H14a.75.75 0 010 1.5H2.81l3.493 3.493a.75.75 0 01-1.06 1.06z" clip-rule="evenodd"/>
              </svg>
            </li>
            <li class="glide__arrow glide__arrow--right" data-glide-dir=">">
              <svg xmlns="http://www.w3.org/2000/svg" width="15" height="13" fill="none" viewBox="0 0 15 13">
                <path fill="#152137" fill-rule="evenodd" d="M9.757 11.803L14.53 7.03a.75.75 0 000-1.06L9.757 1.197a.75.75 0 10-1.06 1.06l3.492 3.493H1a.75.75 0 100 1.5h11.19l-3.493 3.493a.75.75 0 001.06 1.06z" clip-rule="evenodd"/>
              </svg>
            </li>
          </ul>
        </div>
      </div>
       <div class="glide__track" data-glide-el="track">
        <div class="row justify-content-center glide__slides">
          <div class="col-12 col-md-6 col-lg-4 col-xl-4 _cities_drm_trvl_main">
            <div class="_cities_drm_trvl_crd glide__slide">
              <div class="_cities_drm_trvl_crd_inr">
                <div class="_cities_drm_trvl_crd_img">
                  <img src="assets/img/trvl_agncy14.svg" alt="image">
                </div>
                <div class="_cities_drm_trvl_crd_info">
                  <div class="_cities_drm_trvl_info_top">
                    <p class="_cities_drm_trvl_crd_info_p">
                      Japan
                    </p>
                  </div>
                  <div class="_cities_drm_trvl_info_btm">
                    <h2 class="_cities_drm_trvl_info_h2">
                      Japan
                    </h2>
                    <p class="_cities_drm_trvl_crd_info_p2">
                      10 Popular Places
                    </p>
                  </div>
                </div>
              </div>
            </div>
          </div>

          <div class="col-12 col-md-6 col-lg-4 col-xl-4 _cities_drm_trvl_main">
            <div class="_cities_drm_trvl_crd glide__slide">
              <div class="_cities_drm_trvl_crd_inr">
                <div class="_cities_drm_trvl_crd_img">
                  <img src="assets/img/trvl_agncy15.svg" alt="image">
                </div>
                <div class="_cities_drm_trvl_crd_info">
                  <div class="_cities_drm_trvl_info_top">
                    <p class="_cities_drm_trvl_crd_info_p">
                      Indonesia
                    </p>
                  </div>
                  <div class="_cities_drm_trvl_info_btm">
                    <h2 class="_cities_drm_trvl_info_h2">
                      Bali
                    </h2>
                    <p class="_cities_drm_trvl_crd_info_p2">
                      10 Popular Places
                    </p>
                  </div>
                </div>
              </div>
            </div>
          </div>

          <div class="col-12 col-md-6 col-lg-4 col-xl-4 _cities_drm_trvl_main">
            <div class="_cities_drm_trvl_crd glide__slide">
              <div class="_cities_drm_trvl_crd_inr">
                <div class="_cities_drm_trvl_crd_img">
                  <img src="assets/img/trvl_agncy16.svg" alt="image">
                </div>
                <div class="_cities_drm_trvl_crd_info">
                  <div class="_cities_drm_trvl_info_top">
                    <p class="_cities_drm_trvl_crd_info_p">
                      Barcelona
                    </p>
                  </div>
                  <div class="_cities_drm_trvl_info_btm">
                    <h2 class="_cities_drm_trvl_info_h2">
                      Spain
                    </h2>
                    <p class="_cities_drm_trvl_crd_info_p2">
                      10 Popular Places
                    </p>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </section> -->
  <!-- CITIES END -->

  <!-- CLIENT SLIDER -->
  <section class="_clnt_sldr_drm_trvl_sec glide2">
    <div class="container">
      <div class="_clnt_sldr_drm_trvl_top">
        <div class="_clnt_sldr_drm_trvl_top_lft">
          <p class="_clnt_sldr_drm_trvl_top_p">TESTIMONIALS</p>
          <h2 class="_clnt_sldr_drm_trvl_top_h2">What our client say</h2>
          <p class="_clnt_sldr_drm_trvl_top_txt">
            Create a visual identity for your company, and an overall brand
          </p>
        </div>
      </div>
      <div class="glide__track" data-glide-el="track">
        <div class="_clnt_sldr_drm_trvl_main_all glide__slides">
          <div class="_clnt_sldr_drm_trvl_main">
            <div class="_clnt_sldr_drm_trvl_crd glide__slide">
              <div class="_clnt_sldr_drm_trvl_inr">
                <div class="_clnt_sldr_drm_trvl_crd_top_all">
                  <div class="_clnt_sldr_drm_trvl_crd_top">
                    <img
                      src="https://images.unsplash.com/photo-1525134479668-1bee5c7c6845?ixlib=rb-1.2.1&ixid=MnwxMjA3fDB8MHxzZWFyY2h8Nnx8cmFuZG9tJTIwcGVvcGxlfGVufDB8fDB8fA%3D%3D&auto=format&fit=crop&w=500&q=60"
                    />
                  </div>
                  <h2 class="_clnt_sldr_drm_trvl_crd_h2">Elizabeth Keen</h2>
                  <p class="_clnt_sldr_drm_trvl_crd_p1">Product designer</p>
                </div>
                <ul class="_clnt_sldr_drm_trvl_crd_ul">
                  <li>
                    <svg
                      xmlns="http://www.w3.org/2000/svg"
                      width="17"
                      height="15"
                      fill="none"
                      viewBox="0 0 17 15"
                    >
                      <path
                        fill="#FAB33F"
                        d="M8.4 0l2.022 5.217 5.587.31-4.337 3.536 1.43 5.41L8.4 11.44l-4.702 3.032 1.43-5.409L.793 5.528l5.586-.311L8.4 0z"
                      />
                    </svg>
                  </li>
                  <li>
                    <svg
                      xmlns="http://www.w3.org/2000/svg"
                      width="17"
                      height="15"
                      fill="none"
                      viewBox="0 0 17 15"
                    >
                      <path
                        fill="#FAB33F"
                        d="M8.4 0l2.022 5.217 5.587.31-4.337 3.536 1.43 5.41L8.4 11.44l-4.702 3.032 1.43-5.409L.793 5.528l5.586-.311L8.4 0z"
                      />
                    </svg>
                  </li>
                  <li>
                    <svg
                      xmlns="http://www.w3.org/2000/svg"
                      width="17"
                      height="15"
                      fill="none"
                      viewBox="0 0 17 15"
                    >
                      <path
                        fill="#FAB33F"
                        d="M8.4 0l2.022 5.217 5.587.31-4.337 3.536 1.43 5.41L8.4 11.44l-4.702 3.032 1.43-5.409L.793 5.528l5.586-.311L8.4 0z"
                      />
                    </svg>
                  </li>
                  <li>
                    <svg
                      xmlns="http://www.w3.org/2000/svg"
                      width="17"
                      height="15"
                      fill="none"
                      viewBox="0 0 17 15"
                    >
                      <path
                        fill="#FAB33F"
                        d="M8.4 0l2.022 5.217 5.587.31-4.337 3.536 1.43 5.41L8.4 11.44l-4.702 3.032 1.43-5.409L.793 5.528l5.586-.311L8.4 0z"
                      />
                    </svg>
                  </li>
                  <li>
                    <svg
                      xmlns="http://www.w3.org/2000/svg"
                      width="17"
                      height="15"
                      fill="none"
                      viewBox="0 0 17 15"
                    >
                      <path
                        fill="#FAB33F"
                        d="M8.4 0l2.022 5.217 5.587.31-4.337 3.536 1.43 5.41L8.4 11.44l-4.702 3.032 1.43-5.409L.793 5.528l5.586-.311L8.4 0z"
                      />
                    </svg>
                  </li>
                </ul>
                <p class="_clnt_sldr_drm_trvl_crd_txt">
                  Love this app. All my travel details in one place, easily and
                  accessible, every piece of important information immediately
                  to hand without fuss or stress.
                </p>
              </div>
            </div>
          </div>

          <div class="_clnt_sldr_drm_trvl_main">
            <div class="_clnt_sldr_drm_trvl_crd glide__slide">
              <div class="_clnt_sldr_drm_trvl_inr">
                <div class="_clnt_sldr_drm_trvl_crd_top_all">
                  <div class="_clnt_sldr_drm_trvl_crd_top">
                    <img
                      src="https://images.unsplash.com/photo-1481824429379-07aa5e5b0739?ixlib=rb-1.2.1&ixid=MnwxMjA3fDB8MHxzZWFyY2h8OXx8cmFuZG9tJTIwcGVvcGxlfGVufDB8fDB8fA%3D%3D&auto=format&fit=crop&w=500&q=60"
                    />
                  </div>
                  <h2 class="_clnt_sldr_drm_trvl_crd_h2">Polly Gray</h2>
                  <p class="_clnt_sldr_drm_trvl_crd_p1">UI/UX designer</p>
                </div>
                <ul class="_clnt_sldr_drm_trvl_crd_ul">
                  <li>
                    <svg
                      xmlns="http://www.w3.org/2000/svg"
                      width="17"
                      height="15"
                      fill="none"
                      viewBox="0 0 17 15"
                    >
                      <path
                        fill="#FAB33F"
                        d="M8.4 0l2.022 5.217 5.587.31-4.337 3.536 1.43 5.41L8.4 11.44l-4.702 3.032 1.43-5.409L.793 5.528l5.586-.311L8.4 0z"
                      />
                    </svg>
                  </li>
                  <li>
                    <svg
                      xmlns="http://www.w3.org/2000/svg"
                      width="17"
                      height="15"
                      fill="none"
                      viewBox="0 0 17 15"
                    >
                      <path
                        fill="#FAB33F"
                        d="M8.4 0l2.022 5.217 5.587.31-4.337 3.536 1.43 5.41L8.4 11.44l-4.702 3.032 1.43-5.409L.793 5.528l5.586-.311L8.4 0z"
                      />
                    </svg>
                  </li>
                  <li>
                    <svg
                      xmlns="http://www.w3.org/2000/svg"
                      width="17"
                      height="15"
                      fill="none"
                      viewBox="0 0 17 15"
                    >
                      <path
                        fill="#FAB33F"
                        d="M8.4 0l2.022 5.217 5.587.31-4.337 3.536 1.43 5.41L8.4 11.44l-4.702 3.032 1.43-5.409L.793 5.528l5.586-.311L8.4 0z"
                      />
                    </svg>
                  </li>
                  <li>
                    <svg
                      xmlns="http://www.w3.org/2000/svg"
                      width="17"
                      height="15"
                      fill="none"
                      viewBox="0 0 17 15"
                    >
                      <path
                        fill="#FAB33F"
                        d="M8.4 0l2.022 5.217 5.587.31-4.337 3.536 1.43 5.41L8.4 11.44l-4.702 3.032 1.43-5.409L.793 5.528l5.586-.311L8.4 0z"
                      />
                    </svg>
                  </li>
                </ul>
                <p class="_clnt_sldr_drm_trvl_crd_txt">
                  Not particularly pleased that they can not refund your money
                  as quickly as they take it from your account.
                </p>
              </div>
            </div>
          </div>
          <div class="_clnt_sldr_drm_trvl_main">
            <div class="_clnt_sldr_drm_trvl_crd glide__slide">
              <div class="_clnt_sldr_drm_trvl_inr">
                <div class="_clnt_sldr_drm_trvl_crd_top_all">
                  <div class="_clnt_sldr_drm_trvl_crd_top">
                    <img
                      src="https://images.unsplash.com/photo-1472099645785-5658abf4ff4e?ixlib=rb-1.2.1&ixid=MnwxMjA3fDB8MHxzZWFyY2h8MTB8fHJhbmRvbSUyMHBlb3BsZXxlbnwwfHwwfHw%3D&auto=format&fit=crop&w=500&q=60"
                    />
                  </div>
                  <h2 class="_clnt_sldr_drm_trvl_crd_h2">Harold Cooper</h2>
                  <p class="_clnt_sldr_drm_trvl_crd_p1">XP trainer</p>
                </div>
                <ul class="_clnt_sldr_drm_trvl_crd_ul">
                  <li>
                    <svg
                      xmlns="http://www.w3.org/2000/svg"
                      width="17"
                      height="15"
                      fill="none"
                      viewBox="0 0 17 15"
                    >
                      <path
                        fill="#FAB33F"
                        d="M8.4 0l2.022 5.217 5.587.31-4.337 3.536 1.43 5.41L8.4 11.44l-4.702 3.032 1.43-5.409L.793 5.528l5.586-.311L8.4 0z"
                      />
                    </svg>
                  </li>
                  <li>
                    <svg
                      xmlns="http://www.w3.org/2000/svg"
                      width="17"
                      height="15"
                      fill="none"
                      viewBox="0 0 17 15"
                    >
                      <path
                        fill="#FAB33F"
                        d="M8.4 0l2.022 5.217 5.587.31-4.337 3.536 1.43 5.41L8.4 11.44l-4.702 3.032 1.43-5.409L.793 5.528l5.586-.311L8.4 0z"
                      />
                    </svg>
                  </li>
                  <li>
                    <svg
                      xmlns="http://www.w3.org/2000/svg"
                      width="17"
                      height="15"
                      fill="none"
                      viewBox="0 0 17 15"
                    >
                      <path
                        fill="#FAB33F"
                        d="M8.4 0l2.022 5.217 5.587.31-4.337 3.536 1.43 5.41L8.4 11.44l-4.702 3.032 1.43-5.409L.793 5.528l5.586-.311L8.4 0z"
                      />
                    </svg>
                  </li>
                  <li>
                    <svg
                      xmlns="http://www.w3.org/2000/svg"
                      width="17"
                      height="15"
                      fill="none"
                      viewBox="0 0 17 15"
                    >
                      <path
                        fill="#FAB33F"
                        d="M8.4 0l2.022 5.217 5.587.31-4.337 3.536 1.43 5.41L8.4 11.44l-4.702 3.032 1.43-5.409L.793 5.528l5.586-.311L8.4 0z"
                      />
                    </svg>
                  </li>
                  <li>
                    <svg
                      xmlns="http://www.w3.org/2000/svg"
                      width="17"
                      height="15"
                      fill="none"
                      viewBox="0 0 17 15"
                    >
                      <path
                        fill="#FAB33F"
                        d="M8.4 0l2.022 5.217 5.587.31-4.337 3.536 1.43 5.41L8.4 11.44l-4.702 3.032 1.43-5.409L.793 5.528l5.586-.311L8.4 0z"
                      />
                    </svg>
                  </li>
                </ul>
                <p class="_clnt_sldr_drm_trvl_crd_txt">
                  Perfect app and everything is simplified. It's my first time
                  booking a apartment and they made my experience great.
                </p>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </section>
</div>
