<header
  class="
    d-flex
    flex-wrap
    align-items-center
    justify-content-center justify-content-md-between
    bg-opacity-25 bg-transparent
  "
>
  <a
    routerLink=""
    class="
      d-flex
      align-items-center
      col-md-3
      mb-2 mb-md-0
      text-dark text-decoration-none
    "
  >
    <img
      src="../../assets/travel.png"
      width="50px"
      height="50px"
      alt="travelPal"
      style="padding: 4px"
    />
    Travel Pal
  </a>
  <ul class="nav col-12 col-md-auto justify-content-center mb-md-0">
    <li>
      <a
        routerLinkActive="link-info"
        [routerLinkActiveOptions]="{ exact: true }"
        routerLink=""
        style="text-decoration: none"
        class="link-secondary px-2"
        >Home</a
      >
    </li>
    <li>
      <a
        routerLinkActive="link-info"
        routerLink="stays"
        style="text-decoration: none"
        class="link-secondary px-2"
        >Stays</a
      >
    </li>
    <li>
      <a
        routerLinkActive="link-info"
        routerLink="events"
        style="text-decoration: none"
        class="link-secondary px-2"
        >Events</a
      >
    </li>
    <!-- <li><a href="#" class="nav-link px-2 link-dark">FAQs</a></li>
      <li><a href="#" class="nav-link px-2 link-dark">About</a></li> -->
  </ul>

  <div class="col-md-3 text-end">
    <app-auth-view>
      <ng-container notAuthorized>
        <a
          routerLink="signin"
          class="btn btn-outline-secondary rounded-circle me-1"
          >Sign-in</a
        >
        <a
          routerLink="signup"
          class="btn btn-outline-secondary rounded-circle me-1"
          >Sign-up</a
        >
      </ng-container>
      <ng-container authorized>
        <span class="btn btn-outline-primary rounded-pill me-1">
          {{ _securityService.getFieldFromJWT("userName") }}</span
        >
        <a
          (click)="_securityService.logout()"
          class="btn btn-outline-secondary rounded-circle me-1"
          >Log out</a
        >
      </ng-container>
    </app-auth-view>
  </div>
</header>
