<header
  class="
    d-flex
    flex-wrap
    align-items-center
    justify-content-center justify-content-md-between
    bg-opacity-25 bg-transparent
    m-1
  "
>
  <a
    routerLink=""
    class="
      d-flex
      align-items-center
      col-md-3
      mb-2 mb-md-0
      text-dark text-decoration-none
    "
  >
    <img
      src="../../assets/travel.png"
      width="50px"
      height="50px"
      alt="travelPal"
      style="padding: 4px"
    />
    Travel Pal
  </a>
  <ul class="nav col-12 col-md-auto justify-content-center mb-md-0">
    <li>
      <a
        routerLinkActive="link-info"
        [routerLinkActiveOptions]="{ exact: true }"
        routerLink=""
        style="text-decoration: none; font-size: medium; font-weight: normal"
        class="link-secondary px-2"
        >Home</a
      >
    </li>
    <li>
      <a
        routerLinkActive="link-info"
        routerLink="stays"
        style="text-decoration: none; font-size: medium; font-weight: normal"
        class="link-secondary px-2"
        >Stays</a
      >
    </li>
    <li>
      <a
        routerLinkActive="link-info"
        routerLink="events"
        style="text-decoration: none; font-size: medium; font-weight: normal"
        class="link-secondary px-2"
        >Events</a
      >
    </li>
    <!-- <li><a href="#" class="nav-link px-2 link-dark">FAQs</a></li>
      <li><a href="#" class="nav-link px-2 link-dark">About</a></li> -->
  </ul>

  <div class="col-md-3 text-end">
    <app-auth-view>
      <ng-container notAuthorized>
        <a
          routerLink="signin"
          class="btn btn-outline-secondary rounded-circle me-1"
          ><i class="fas fa-sign-in-alt"></i> Sign-in</a
        >
        <a
          routerLink="signup"
          class="btn btn-outline-secondary rounded-circle me-1"
          ><i class="fas fa-user-plus"></i> Sign-up</a
        >
      </ng-container>
      <ng-container authorized>
        <div class="btn-group">
          <button
            type="button"
            class="btn btn-outline-primary rounded-pill me-1 dropdown-toggle"
            data-bs-toggle="dropdown"
            aria-expanded="false"
          >
            <i class="far fa-user"></i>
            {{ _securityService.getFieldFromJWT("userName") }}
          </button>
          <ul class="dropdown-menu text-center">
            <li>
              <a
                routerLink="user-stays/{{
                  _securityService.getFieldFromJWT('id')
                }}"
                class="btn btn-outline-success rounded-pill"
              >
                My Stays </a
              >
            </li>
            <li>
              <a
                routerLink="user-events/{{ _securityService.getFieldFromJWT('id')}}" class="btn btn-outline-info rounded-pill mt-1" >
                My Events</a >
            </li>
            <li *ngIf="isAdmin()">
              <a
                routerLink="admin/users"
                class="btn btn-outline-secondary rounded-pill mt-2"
                href="#"
                >Manage Users</a
              >
            </li>
            <li><hr class="dropdown-divider" /></li>
            <li>
              <a class="btn btn-outline-info rounded-pill" href="#"
                >Separated link</a
              >
            </li>
          </ul>
        </div>
        <a
          (click)="logout()"
          class="btn btn-outline-secondary rounded-circle me-1"
          ><i class="fas fa-sign-out-alt"></i> Log out</a
        >
      </ng-container>
    </app-auth-view>
  </div>
</header>
