<header
  class="
    d-flex
    flex-wrap
    align-items-center
    justify-content-center justify-content-md-between
    bg-opacity-25 bg-transparent
    m-1
  "
>
  <a
    routerLink=""
    class="
      d-flex
      align-items-center
      col-md-3
      mb-2 mb-md-0
      text-dark text-decoration-none
    "
  >
    <img
      src="../../assets/travel.png"
      width="50px"
      height="50px"
      alt="travelPal"
      style="padding: 4px"
    />
    Travel Pal
  </a>
  <ul class="nav col-12 col-md-auto justify-content-center mb-md-0">
    <li>
      <a
        routerLinkActive="link-info"
        [routerLinkActiveOptions]="{ exact: true }"
        routerLink=""
        style="text-decoration: none; font-size: medium; font-weight: normal"
        class="link-secondary px-2"
        >Home</a
      >
    </li>
    <li>
      <a
        routerLinkActive="link-info"
        routerLink="stays"
        style="text-decoration: none; font-size: medium; font-weight: normal"
        class="link-secondary px-2"
        >Stays</a
      >
    </li>
    <li>
      <a
        routerLinkActive="link-info"
        routerLink="events"
        style="text-decoration: none; font-size: medium; font-weight: normal"
        class="link-secondary px-2"
        >Events</a
      >
    </li>
    <!-- <li><a href="#" class="nav-link px-2 link-dark">FAQs</a></li>
      <li><a href="#" class="nav-link px-2 link-dark">About</a></li> -->
  </ul>

  <div class="col-md-3 text-end">
    <app-auth-view>
      <ng-container notAuthorized>
        <a
          routerLink="signin"
          class="btn btn-outline-secondary rounded-circle me-1"
          ><i class="fas fa-sign-in-alt"></i> Sign-in</a
        >
        <a
          routerLink="signup"
          class="btn btn-outline-secondary rounded-circle me-1"
          ><i class="fas fa-user-plus"></i> Sign-up</a
        >
      </ng-container>
      <ng-container authorized>
        <a
          class="btn btn-outline-secondary rounded-pill me-1"
          [matMenuTriggerFor]="user"
        >
          <i class="fas fa-street-view"></i>
          {{ _securityService.getFieldFromJWT("userName") }}
        </a>
        <mat-menu #user="matMenu">
          <button mat-menu-item [matMenuTriggerFor]="stays">
            <i class="fas fa-home"></i> My Stays
          </button>
          <button mat-menu-item [matMenuTriggerFor]="events">
            <i class="fas fa-hiking"></i> My Events
          </button>
          <button mat-menu-item [matMenuTriggerFor]="myProfile">
            <i class="far fa-user-circle"></i> My Profile
          </button>
          <button
            *ngIf="isAdmin()"
            mat-menu-item
            [matMenuTriggerFor]="adminMenu"
          >
            <i class="fas fa-user-secret"></i> All Users
          </button>
        </mat-menu>

        <mat-menu #stays="matMenu">
          <a
            routerLink="user-stays/{{ _securityService.getFieldFromJWT('id') }}"
            mat-menu-item
            ><i class="fas fa-list-ul"></i> Listed stays</a
          >
          <a routerLink="/stays/create" mat-menu-item
            ><i class="fas fa-plus"></i> List new</a
          >
        </mat-menu>

        <mat-menu #events="matMenu">
          <a
            routerLink="user-events/{{
              _securityService.getFieldFromJWT('id')
            }}"
            mat-menu-item
            ><i class="fas fa-list-ul"></i> Listed events</a
          >
          <a routerLink="/events/creation" mat-menu-item
            ><i class="fas fa-plus"></i> List new</a
          >
        </mat-menu>

        <mat-menu #myProfile="matMenu">
          <button mat-menu-item>
            <i class="fas fa-info"></i> View profile
          </button>
          <button mat-menu-item>
            <i class="far fa-edit"></i> Edit profile
          </button>
        </mat-menu>
        <mat-menu #adminMenu="matMenu">
          <a routerLink="admin/users" mat-menu-item>View users</a>
        </mat-menu>

        <a
          (click)="logout()"
          class="btn btn-outline-secondary rounded-circle me-1"
          ><i class="fas fa-sign-out-alt"></i> Log out</a
        >
      </ng-container>
    </app-auth-view>
  </div>
</header>
