
@import url('https://fonts.googleapis.com/css?family=Lato:400,700');

body {
	font-family: 'Lato', sans-serif;
	background: whitesmoke;
}
a.btn {
	color: rgb(0, 0, 0);

	border: 1px solid #464646;
	padding: 10px;
	-webkit-transition: all 0.2s;
	-moz-transition: all 0.2s;
	transition: all 0.2s;
}

a.btn:hover {
	background: #38ccd7;
	border: 1px solid #38ccd7;
	color: rgb(0, 0, 0);
}

button[type='submit'] {
	background: #18b8c4;
	border: 1px solid #38ccd7;
	color: black;
	padding: 5px 10px 5px 10px;
	cursor: pointer;
	-webkit-transition: all 0.2s;
	-moz-transition: all 0.2s;
	transition: all 0.2s;
}

button[type='submit']:hover {
	background: #38ccd7;
	border: 1px solid #38ccd7;
	color: #0a0a0b;
}

header {
	position: sticky;
	position: -webkit-sticky;
	top: 0;
	z-index: 1000;
}
i{
font-size:1rem;
}
/* width */
::-webkit-scrollbar {
  width: 10px;
}

/* Track */
::-webkit-scrollbar-track {
  background: #f1f1f1; 
}
 
/* Handle */
::-webkit-scrollbar-thumb {
  background: #888; 
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
  background: #555; 
}
