@import url('https://fonts.googleapis.com/css?family=Lato:400,700');

body {
	font-family: 'Lato', sans-serif;
	background: whitesmoke;
}
a.btn {
	color: rgb(0, 0, 0);

	border: 1px solid #464646;
	padding: 10px;
	-webkit-transition: all 0.2s;
	-moz-transition: all 0.2s;
	transition: all 0.2s;
}

a.btn:hover {
	background: #38ccd7;
	border: 1px solid #38ccd7;
	color: rgb(0, 0, 0);
}

button[type='submit'] {
	background: #18b8c4;
	border: 1px solid #38ccd7;
	color: black;
	padding: 5px 10px 5px 10px;
	cursor: pointer;
	-webkit-transition: all 0.2s;
	-moz-transition: all 0.2s;
	transition: all 0.2s;
}

button[type='submit']:hover {
	background: #38ccd7;
	border: 1px solid #38ccd7;
	color: #0a0a0b;
}

header {
	position: sticky;
	position: -webkit-sticky;
	top: 0;
	z-index: 1000;
}
i {
	font-size: 1rem;
}
/* width */
::-webkit-scrollbar {
	width: 10px;
}

/* Track */
::-webkit-scrollbar-track {
	background: #f1f1f1;
}

/* Handle */
::-webkit-scrollbar-thumb {
	background: #888;
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
	background: #555;
}

.card {
	background-color: #fff;
	border-radius: 3px;
	padding: 30px;
	margin: 10px;
	width: 320px;
	/* max-width: 100%; */
}

.card img {
	border-radius: 50%;
	box-shadow: 0px 4px 10px rgba(0, 0, 0, 0.2);
	width: 150px;
}

.card h4 {
	margin: 10px 0;
}

.card small {
	color: #777;
	display: block;
}

.reserve {
	width: 300px;
	padding: 8% 0 0;
	margin: auto;
}
.reservation {
	position: relative;
	z-index: 1;
	background: #ffffff;
	max-width: 360px;
	margin: 0 auto 100px;
	padding: 45px;
	text-align: center;
}
.reservation button {
	outline: 0;
	width: 100%;
	border: 0;
	padding: 15px;
	font-size: 14px;
	cursor: pointer;
}
