<div class="container">
  <div
    style="margin: 50px"
    class="row align-items-center rounded-3 border shadow-lg"
  >
    <div class="col-6">
      <app-display-errors
        *ngIf="errors.length > 0"
        [errors]="errors"
      ></app-display-errors>
      <h2>Sign In</h2>
      <form [formGroup]="form" (ngSubmit)="signIp()">
        <div class="form-group">
          <label class="form-label">Username</label>
          <input
            type="text"
            class="form-control"
            placeholder="john.doe"
            formControlName="userName"
            [ngClass]="
              !form.get('userName')?.valid && form.get('userName')?.touched
                ? 'border-danger'
                : ''
            "
          />
          <label
            class="form-label text-danger"
            *ngIf="
              !form.get('userName')?.valid && form.get('userName')?.touched
            "
            >The username is required!</label
          >
        </div>
        <div class="form-group">
          <label class="form-label">Password</label>
          <input
            type="password"
            class="form-control"
            placeholder="****"
            formControlName="password"
            [ngClass]="
              !form.get('password')?.valid && form.get('password')?.touched
                ? 'border-danger'
                : ''
            "
          />
          <label
            class="form-label text-danger"
            *ngIf="
              !form.get('password')?.valid && form.get('password')?.touched
            "
            >The password is required!</label
          >
        </div>
        <br />
        <div class="row">
          <div class="col-6 text-start">
            <a
              routerLink="/signup"
              style="padding: 5px 10px 5px 10px"
              class="btn text-start"
              >Not registered?&nbsp;<i class="fas fa-user-plus"></i> Sign Up</a
            >
          </div>
          <div class="col-6 text-end">
            <button type="submit" class="btn btn-primary text-end">
              <i class="fas fa-sign-in-alt"></i> Sign In
            </button>
          </div>
        </div>
      </form>
    </div>

    <div class="col-6 p-0 overflow-hidden shadow-lg">
      <div class="lc-block">
        <img
          class="rounded-start"
          src="https://images.pexels.com/photos/3935702/pexels-photo-3935702.jpeg"
          alt="Photo by Diego PH"
          width="920"
          height="520"
        />
      </div>
    </div>
  </div>
</div>
