<agm-map
  [latitude]="43.8510131277294"
  [longitude]="18.407407890579037"
  [zoom]="8"
  [disableDefaultUI]="true"
>
  <agm-marker
    *ngFor="let stay of stays; let i = index"
    [latitude]="stay.location.latitude"
    [longitude]="stay.location.longitude"
    [iconUrl]="
      'https://img.icons8.com/external-ddara-lineal-color-ddara/64/000000/external-rental-real-estate-ddara-lineal-color-ddara.png'
    "
  >
    <agm-snazzy-info-window
      [isOpen]="true"
      [maxWidth]="700"
      [maxHeight]="550"
      [showCloseButton]="false"
      [closeWhenOthersOpen]="true"
      [padding]="'0 0 0 0'"
    >
      <ng-template
        ><div class="text-center">
          <div class="row m-0 mb-1">
            <div class="col-6">{{ stay.name }}</div>
            <div class="col-6">{{ stay.price | currency }}</div>
            <!-- <div class="col">Rating : {{ i + 1 }}</div> -->
          </div>
          <img
            width="250"
            class="m-2"
            [src]="stay.images[0].imagePath"
            alt=""
          />
          <br />
          <a
            routerLink="/stays/details/{{ stay.id }}"
            class="btn btn-outline-info m-2"
            >Check it out!</a
          >
        </div>
      </ng-template>
    </agm-snazzy-info-window>
  </agm-marker>
</agm-map>
